.header {
    background: grey;
    flex: 1;
    display: flex;
    flex-direction: row;

    .link-tab {
        font-size: 15px;
        color: white;
        border: none;
        background-color: transparent;
        padding: 10px;
        outline: none;
        cursor: pointer;
        text-decoration: none;
    }

    .selected {
        background-color: black;
    }
}